<div id="page1" class="page" page1>
    Inicio Page 1
    <div id="element1">inicio 1</div>
    <div id="element2">Element 2</div>
    <div class="container">
        <div class="col-md-6" style="height:300px;background:lightgoldenrodyellow">
            <svg ng-mouseenter ="startAnimation()" ng-mouseleave="stopAnimation()" id="container-1" xmlns="http://www.w3.org/2000/svg"></svg>
        </div>
        <div id="proyect1" class="col-md-6" style="height:300px;background:lightgoldenrodyellow">1</div>
        <div id="proyect2" class="col-md-6" style="height:300px;background:blueviolet">2</div>
        <div id="proyect3" class="col-md-6" style="height:300px;background:lightcyan">3</div>
        <div id="proyect4" class="col-md-6" style="height:300px;background:lightsalmon">4</div>
        <div id="proyect5" class="col-md-6" style="height:300px;background:lightskyblue">5</div>
        <div id="proyect6" class="col-md-6" style="height:300px;background:darkgreen">6</div>
        <div id="proyect7" class="col-md-6" style="height:300px;background:greenyellow">7</div>
        <div id="proyect8" class="col-md-6" style="height:300px;background:cadetblue">8</div>
        <div id="proyect9" class="col-md-6" style="height:300px;background:navy">9</div>
        <div id="proyect10" class="col-md-6" style="height:300px;background:chocolate">10</div>
        <div id="proyect11" class="col-md-6" style="height:300px;background:darkorange">11</div>
        <div id="proyect12" class="col-md-6" style="height:300px;background:orange">12</div>



    </div>
    

</div>