<div id="page1" class="page" page3>
    Content Proyectos 1
    <div id="element1">Proyectos 1</div>
    <div id="element2">Element 2</div>
    <div class="container">
        <div id="proyect1" class="proyect col-md-12" style="height:300px;background:lightgoldenrodyellow">
            <h2git >Proyecto 1</h2git>
            <p>Texto 1</p>
        </div>
        <div id="proyect2" class="proyect col-md-12" style="height:300px;background:blueviolet">
            <h2>Proyecto 1</h2>
            <p>Texto 1</p>
        </div>
        <div id="proyect3" class="proyect col-md-12" style="height:300px;background:lightcyan">
            <h2>Proyecto 1</h2>
            <p>Texto 1</p>
        </div>
        <div id="proyect4" class="proyect col-md-12" style="height:300px;background:lightsalmon">
            <h2>Proyecto 1</h2>
            <p>Texto 1</p>
        </div>
        <div id="proyect5" class="proyect col-md-12" style="height:300px;background:lightskyblue">
            <h2>Proyecto 1</h2>
            <p>Texto 1</p>
        </div>
        <div id="proyect6" class="proyect col-md-12" style="height:300px;background:darkgreen">
            <h2>Proyecto 1</h2>
            <p>Texto 1</p>
        </div>
        <div id="proyect7" class="proyect col-md-12" style="height:300px;background:greenyellow">
            <h2>Proyecto 1</h2>
            <p>Texto 1</p>
        </div>
        <div id="proyect8" class="proyect col-md-12" style="height:300px;background:cadetblue">
            <h2>Proyecto 1</h2>
            <p>Texto 1</p>
        </div>
        <div id="proyect9" class="proyect col-md-12" style="height:300px;background:navy">
            <h2>Proyecto 1</h2>
            <p>Texto 1</p>
        </div>
        <div id="proyect10" class="proyect col-md-12" style="height:300px;background:chocolate">
            <h2>Proyecto 1</h2>
            <p>Texto 1</p>
        </div>
        <div id="proyect11" class="proyect col-md-12" style="height:300px;background:darkorange">
            <h2>Proyecto 1</h2>
            <p>Texto 1</p>
        </div>
        <div id="proyect12" class="proyect col-md-12" style="height:300px;background:orange">
            <h2>Proyecto 1</h2>
            <p>Texto 1</p>
        </div>
    </div>
</div>