<div class="container-fluid" ng-controller="projectsController as projectsCtrl" >
    <div class="intro" >
        <h1 class="titular ">{{'PROYECTOS.TITULAR' | translate}}</h1>
        <p translate="{{ 'PROYECTOS.INTRO' }}"></p>
    </div>
    <div class="contenido white">
        <div class="container">
            {{'PROYECTOS.PARRAFO1' | translate}}<br>


            <div ng-click="animate()" class="col-md-6 wow fadeInUp" data-wow-duration="1s" data-wow-offset="25" style="background: #ced46f;height: 250px;padding:15px">
                <p><a href="#/proyectos/google-ocu">Google-ocu</a></p>
            </div>
            <div ng-click="animate()" class="col-md-6 wow fadeInUp" data-wow-duration="2s" data-wow-offset="200" data-wow-delay="1.5s" style="background: cyan;height: 250px;padding:15px">
                <p><a href="#/proyectos/altamira">Altamira</a></p>
            </div>
            <div ng-click="animate()" class="col-md-6 wow fadeInUp" data-wow-duration="2s" data-wow-offset="300" data-wow-delay="1s" style="background: #cedfff;height: 250px;padding:15px">
                <p><a href="#/proyectos/el-quinto-de-don-pedro">El Quinto de Don Pedro</a></p>
            </div>
            <div ng-click="animate()" class="col-md-6 wow fadeInUp" data-wow-duration="2s" data-wow-offset="300" data-wow-delay="1.5s" style="background: #ceffff;height: 250px;padding:15px">
                <p><a href="#/proyectos/fundacion-real-madrid">Fundacion Real Madrid</a></p>
            </div>
            <div ng-click="animate()" class="col-md-6 wow fadeInUp" data-wow-duration="2s" data-wow-offset="300" data-wow-delay="1" style="background: #cff46f;height: 250px;padding:15px">
                <p><a href="#/proyectos/google-activa-tu-ciudad">Google-Activa tu ciudad</a></p>
            </div>
            <div ng-click="animate()" class="col-md-6 wow fadeInUp" data-wow-duration="2s" data-wow-offset="300" data-wow-delay="1.5s" style="background: #eff4ff;height: 250px;padding:15px">
                <p><a href="#/proyectos/hitachi-holyshot">Hitachi Holyshot</a></p>
            </div>
            <div ng-click="animate()" class="col-md-6 wow fadeInUp" data-wow-duration="2s" data-wow-offset="300" data-wow-delay="1s" style="background: #ced46f;height: 250px;padding:15px">
                <p><a href="#/proyectos/proyecto-hotel-vinas-de-larrede">Hotel Viñas de Lárrede</a></p>
            </div>
            <div ng-click="animate()" class="col-md-6 wow fadeInUp" data-wow-duration="2s" data-wow-offset="300" data-wow-delay="1.5s" style="background: cyan;height: 250px;padding:15px">
                <p><a href="#/proyectos/movistar-cloud">Movistar Cloud</a></p>
            </div>
            <div ng-click="animate()" class="col-md-6 wow fadeInUp" data-wow-duration="2s" data-wow-offset="300" data-wow-delay="1s" style="background: #cedfff;height: 250px;padding:15px">
                <p><a href="#/proyectos/kommerling-portugal">Kommerling Portugal</a></p>
            </div>
            <div ng-click="animate()" class="col-md-6 wow fadeInUp" data-wow-duration="2s" data-wow-offset="300" data-wow-delay="1.5s" style="background: #ceffff;height: 250px;padding:15px">
                <p><a href="#/proyectos/nekicesa">Nekicesa</a></p>
            </div>
            <div ng-click="animate()" class="col-md-6 wow fadeInUp" data-wow-duration="2s" data-wow-offset="300" data-wow-delay="1s" style="background: #cff46f;height: 250px;padding:15px">
                <p><a href="#/proyectos/universidad-nebrija">Universidad Nebrija</a></p>
            </div>
        </div>
    </div>
</div>

<div ng-include="'views/footer.html'"></div>
